@font-face {
    font-family: lacquer;
    src: url(../fonts/Lacquer-Regular.ttf);
}

* {
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 30% 1fr 7%;
    background-color: black;
    color: aliceblue;
}

.head {
    grid-area: 1/1/2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: lacquer;
    font-size: xx-large;
}

.main {
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.result,
.final {
    font-size: x-large;
    font-family: lacquer;
}

.playerSelections {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.playerSelections * {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.popUp {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: none;
    grid-template-columns: 22% 1fr 22%;
    grid-template-rows: 25% 1fr 25%;
}

.pop {
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(31, 23, 23);
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.repeat {
    background-color: green;
    transform: rotate(90deg);
    border-radius: 50%;
    width: 10%;
    height: auto;
}

.final {
    font-size: xx-large;
    color: white;
}